<div id="main-menu" class="main-menu">
  {% assign mainmenu = site.data.menus.main | sort: 'weight'  %}
  <ul>
    <li><script>window.jotformEmbedHandler("iframe[id='250783740634157']", "https://form.jotform.com/")</script> <a class="lightbox-250783740634157" style="">Appointment Request</a></li>
    {% for item in mainmenu %}
    <li class="{% if item.url == page.url %}active{% endif %}">
      <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
    </li>
    {% endfor %}
  </ul>
</div>