<div id="main-menu" class="main-menu">
  {% assign mainmenu = site.data.menus.main | sort: 'weight'  %}
  <ul>
    <li><script src ="https://form.jotform.com/static/feedback2.js" type="text/javascript"></script> <script type="text/javascript"> var JFL_250783740634157 = new JotformFeedback({ formId: '250783740634157', base: 'https://form.jotform.com/', windowTitle: 'Appointment Request Form', backgroundColor: '#FFA500', fontColor: '#FFFFFF', type: 'false', height: 500, width: 700, openOnLoad: false }); </script> <script src='https://cdn.jotfor.ms/s/umd/latest/for-form-embed-handler.js'></script> <script>window.jotformEmbedHandler("iframe[id='250783740634157']", "https://form.jotform.com/")</script> <a class="lightbox-250783740634157" style="">Appointment Request</a></li>
    {% for item in mainmenu %}
    <li class="{% if item.url == page.url %}active{% endif %}">
      <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
    </li>
    {% endfor %}
  </ul>
</div>